:root{

    //COLORS;

    --btn-color: #FFD036;
    --btn-hover: #F9BF00;
    --text-primary: #000000;
    --text-secondary: #2C2C2C;
    --bg-color: var(--dark-bg);
    --divider-color: #DEDEDE;


    --main-accent: #1a2866;
    --dark-bg: #06070d;
    --active-btn: #ffffff;
    --secondary-btn: #324175;
    --light-bg: #171920;
    --light-bg-hover: #242731;
    --accent-button: #91a3e5;
    --text-grey: #73767d;
    --hover-btn: #5976e3;
    --text-color: #ffffff;



  
}